<html>
  <head>
    <title>The Beer at the Puppet HQ</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <meta http-equiv="imagetoolbar" content="no">
    <meta http-equiv="content-language" content="EN">
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="300">
  </head>

  <body>

    <header>
      <h1><img src="/puppet_mark.png" alt="Puppet" />puppet office kegs</h1>
    </header>

    <div class="vertical-container">
      <% @kegerator.each do |keg| %>

      <div class="<%= keg[:vol] == 'empty' ? 'tap-table empty' : 'tap-table' %>">
        <h4><%= keg[:tap].upcase %></h4>
        <h3><%= keg[:brewery] %></h3>
        <h2><%= keg[:beer_name] %></h2>
        <div class="beer-data">
          <p><span class="label">Style:</span> <span class="value"><%= keg[:style] %></span></p>
          <p><span class="label">ABV:</span> <span class="value"><%= keg[:abv] %>%</p>
          <p><span class="label">IBU:</span> <span class="value"><%= keg[:ibu] %></span></p>
          <p><span class="label">Tap Date:</span> <span class="value"><%= keg[:tap_date] %></span></p><% if keg[:link] != 'empty' %>
          <p><span class="label"><%= keg[:link].include?('untappd.com') ? 'Untappd:' : 'Beer Advocate:' %></span> <span class="value"><a href='<%= keg[:link] %>'>Link</a></p><% end %>
        </div>
      </div>

      <% end %>
    </div>

    <footer>
      &copy; <%= Time.now.year %> Kerminator Frogbot and <a href='http://twitter.com/stahnma'>@stahnma</a> | Find the source on <a href='http://github.com/stahnma/beer_endpoint'>github.</a>
    </footer>
  </body>
</html>
